* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(33, 19, 2);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 2px;
  align-items: center;
  list-style: none;
}
nav ul {
  display: flex;
  gap: 2em;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: aqua;
}
.section_one {
  height: 200px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-evenly;
}
img {
  width: 220px;
}
body {
  background-image: url("images/super car yard.jpg");
}
