* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(33, 19, 2);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 2px;
  align-items: center;
  list-style: none;
}
nav ul {
  display: flex;
  gap: 2em;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: blue;
}
.section_one {
  height: 200px;
  display: list-item;
  align-items: normal;
  gap: 15px;
  justify-content: space-evenly;
  border-spacing: 10px;
}
img {
  width: 20px;
}
body {
  background-image: url("https://www.google.com/imgres?q=super%20cars%20yard%20photo&imgurl=https%3A%2F%2Fi.pinimg.com%2F736x%2F74%2Fe0%2Fec%2F74e0ec3290d1a45a4509aeb47cc2bc90.jpg&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F536913586806646193%2F&docid=n2TfBQt-6CSiOM&tbnid=WA2S6LEIKX9TkM&vet=12ahUKEwjqsOWjpomLAxV49rsIHY1SDTgQM3oECHgQAA..i&w=736&h=490&hcb=2&ved=2ahUKEwjqsOWjpomLAxV49rsIHY1SDTgQM3oECHgQAA");

  background-position: center;
  background-repeat: no-repeat;
}
