* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(33, 19, 2);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 2px;
  align-items: center;
  list-style: none;
}
nav ul {
  display: flex;
  gap: 2em;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: rgb(0, 0, 9);
}
.section_one {
  height: 200px;
  display: list-item;
  align-items: normal;
  gap: 15px;
  justify-content: space-evenly;
  border-spacing: 10px;
}
img {
  width: 220px;
  padding: 5px;
  align-items: flex-end;
  list-style: none;
  border-image: fill;
}
